.about {
  position: relative;

  padding: 120px 0 160px;

  background-image: url('../images/crumbs.png');
  background-repeat: no-repeat;
  background-position: center 40px;
  background-size: 600px auto;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 24px;

    margin-bottom: 136px;
  }

  &__title {
    margin: 0;

    font-size: 64px;
    font-weight: 400;
    line-height: 0.85;
    text-transform: uppercase;
  }

  &__text {
    max-width: 584px;
    margin: 0;

    font-size: 16px;
    line-height: 1.5;
  }

  &__stats {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 24px;
  }
}

.stat {
  &__number {
    margin: 0 0 8px;

    font-size: 64px;
    font-weight: 400;
    line-height: 0.85;
  }

  &__text {
    margin: 0;

    color: #7f8096;
    font-size: 16px;
    line-height: 1.5;
  }
}
