.header {
  padding: 32px 120px 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  color: #1c1a26;
  text-decoration: none;
}

.nav__list {
  display: flex;
  gap: 64px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.nav__link {
  font-size: 14px;
  color: #1c1a26;
  text-decoration: none;

  &:hover {
    color: #f9512e;
  }
}

.nav__link--contact {
  display: flex;
  gap: 4px;
  align-items: center;

  color: #f9512e;
  text-transform: uppercase;
}

.nav__icon {
  width: 16px;
  height: 16px;
}

@media (max-width: 1279px) {
  .header {
    padding: 24px 72px 0;
  }

  .nav__list {
    gap: 32px;
  }
}

@media (max-width: 639px) {
  .header {
    padding: 16px;
  }

  .nav__list {
    gap: 16px;
  }

  .nav__link {
    font-size: 12px;
  }
}
