.hero {
  padding: 72px 120px 120px;
}

.hero__text {
  width: 280px;
  margin: 40px 0 0;
  margin-bottom: 0;

  font-size: 15px;
  line-height: 1.5;
}

.hero__content {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 350px;
  margin-top: 8px;
}

.hero__title {
  position: relative;
  z-index: 2;

  margin: 0;

  font-size: 144px;
  font-weight: 400;
  line-height: 0.85;
  letter-spacing: -0.05em;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.hero__image {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;

  width: 500px;
  height: auto;

  transform: translate(-50%, -50%);
}

.hero__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 220px;
  height: 56px;
  margin-top: 8px;

  color: #f9512e;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  border: 2px solid #f9512e;
  border-radius: 32px;

  transition:
    color 0.3s,
    background-color 0.3s;
}

.hero__button:hover {
  color: #fff;
  background-color: #f9512e;
}

.hero__button-icon {
  width: 24px;
  height: 24px;
}

/* Tablet */
@include on-tablet {
  .hero {
    padding: 48px 72px 100px;
  }

  .hero__content {
    min-height: 330px;
  }

  .hero__title {
    font-size: 96px;
  }

  .hero__image {
    width: 400px;
  }
}

/* Mobile */
@include on-mobile {
  .hero {
    padding: 32px 16px 72px;
  }

  .hero__text {
    width: 100%;
    max-width: 280px;
  }

  .hero__content {
    min-height: 270px;
    margin-top: 24px;
  }

  .hero__title {
    font-size: 48px;
    line-height: 0.9;
    white-space: nowrap;
  }

  .hero__image {
    width: 260px;
    max-width: 80vw;
  }

  .hero__button {
    width: 100%;
    margin-top: -20px;
  }
}
