@import './fonts';
@import './utils/variables';
@import './utils/mixins';

@import './blocks/header';
@import './blocks/hero';
@import './blocks/products';
@import './blocks/about';
@import './blocks/footer';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;

  color: #1c1a26;
  font-family: Roboto, Arial, sans-serif;

  background-color: #eef7ff;
}

.header,
.hero,
.products,
.about {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.footer {
  width: 100%;
}

/* Classe geral para centralizar o conteúdo */
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-inline: 24px;
}

@media (max-width: 639px) {
  .container {
    padding-inline: 16px;
  }

  .hero__title {
    font-size: 42px;
    line-height: 1;
  }

  .hero__button {
    width: 100%;
    max-width: 100%;
  }
}
